<table class="table table-boldered">
  <div>
    <%= link_to("Add a job", new_job_path, class: "btn btn-primary pull-right") %>
  </div>
<br> <br>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= render_job_status(job) %>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_job_path(job), class: "btn btn-default") %>
      <%= link_to("Delete", job_path(job), method: :delete, data: {confirm: "Are you sure?"},  class: "btn btn-default") %>
    </td>
    <td>
      <%= job.created_at%>
    </td>
  <% end %>
  </tr>
</table>
